MyLoader
obj
__temp__
src
bin
dotnet/*
#dotnet/components/bin
#dotnet/PayDeskSolution/Com_VirualKeyboard/bin
#dotnet/PayDeskSolution/ProductCategoryManager/bin/
#dotnet/PayDeskSolution/Plugin_DATECS_EXELLIO/bin/
#dotnet/PayDeskSolution/Plugin_DATECS_EXELLIO/obj/
#dotnet/PayDeskSolution/Plugin_DATECS_FP3530T/bin/
#dotnet/PayDeskSolution/Plugin_IKC-OP2/bin/
#dotnet/PayDeskSolution/Plugin_IKC-OP6/bin/
#dotnet/PayDeskSolution/driver/bin
#dotnet/PayDeskSolution/Engine/bin/
#dotnet/PayDeskSolution/builder/src/articles
obj
*.DBF
*.bin
*.pdb
*.dll
*.exe
*.force
*.cache
*.tlog